@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$primary: #240B92;
$secondary: #ef8300;
$info: #3b73b4;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);
@import "node_modules/bootstrap/scss/bootstrap";

body{
    font-family: "Roboto", sans-serif;
}

.navbar-bpbd{
    padding-top: 12px;
    padding-bottom: 12px;
    .nav-item{
        margin-left: .5rem;
        .nav-link{
            color: #fff;
            font-weight: 400;
        }
        .dropdown-menu{
            position: absolute;
            margin-top: 0;
            padding: .5rem;
            .dropdown-item{
                padding: .5rem;
                margin-left: 0;
                font-size: .9rem;
                &:hover {
                    background-color: #112f6b;
                    color: #fff;
                }
            }
            &[data-bs-popper]{
                right: 0;
            }
        }
    }
}

.carousel-bpbd{
    .carousel-item{
        height: 851px;
        .view-carousel{
            height: 95%;
            hr{
                border-top: 1px solid #fff;
                opacity: 1;
            }
        }
    }
    .black-overlay{
        background-color: rgba(0,0,0,.3);
    }

}
.nav-pills .nav-link{
    background: unset;
}
.nav-pills .nav-link.active{
    background: unset;
}

.footer-middle{
    background-color: #1c2331;
}

.pink{
    background-color: #ff4081 !important;
    border: 0;
    border-top: 1px solid #ff4081;
    opacity: 1;
}

.footer-copyright{
background-color: #161C27;
color: rgba(255,255,255,.6);
}

.btn-custom {
    background: linear-gradient(40deg,#45cafc,#303f9f) !important;
    padding: .84rem 2.14rem;
  font-size: .81rem;
  border-radius: .125rem;
  border: 0;
  color: #fff;
  border-radius: .125rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  &:hover{
    color: #fff;
  }
  }
